.#{$namespace}-datepicker {
  // 인라인 타입
  display: inline-flex;  
  align-items: center;
  user-select: none;
  width: 200px;
  align-content: center;

  &:focus {
    @extend .focus
  }
  
  &:hover {
     input ~ .mark {
       background-color: rgb(0, 180, 255);
     }
  }
  
  &.disable {
    @extend .disabled
  }

  .control {
  }

  .container {      
      border-style: dashed;
      border-width: 1px;
      display: inline-grid;
      vertical-align: middle;
      overflow: auto;
      width: 200px;
      height: 180px;

      .table {
        margin: auto;
        
        // child
        .header {
        }

        tr {
          text-align: center;            
        }

        .disable {
          @extend .disabled
        }

        .selected {
          background-color: lightblue;
        }
      }
  }
}
